*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbars{
    display: flex;
    /* border: 1px solid red; */
    gap: 10px;
    justify-content: space-around;
    align-items: center;

}

.logo{
    text-align: center;
}
.navbars a{
    color: black;
    text-decoration: none;
    list-style: none;
}

.Hero{
    margin-top: 10px;
    width: 750px;
    height:400px;
    /* border: 1px solid red; */
    margin: auto;
    border-radius: 40px;
    background-color: #F9E6D0;
}
.img-1{
    /* border: 1px solid red; */
    overflow: hidden;
    /* margin-bottom:100rem; */
    border-radius: 30px;
}
.img-2{
    margin-left:145px;
    justify-content: end;
    /* margin-bottom: 500px; */
    overflow: hidden;
    border-radius: 0px 0px 50px 0px;
}
.Hero h1{
    margin-top: 30px;
    text-align: center;
    text-transform: capitalize;
}
.Hero p{
    margin-top: 30px;
    text-align: center;
    text-transform: capitalize;}

.hero-img{
    margin: auto;
    margin-bottom: 200px;
}


